
.hero-image {
    background-image: url('../images/1.png');
    height: 400px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

  .hero-heading {
    background-color: white;
    color: #2b6777;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
       
}
.navbar {
padding: 20px;
}
.navbar-item {
    color: #2b6777;
    font-size: 20px;
    font-weight: bolder;
}

p {
color: #2b6777;
font-size: 20px;
padding-top: 5px;
padding-right: 5px;
margin-right: 5px;

}


.footer {
    background-color: #2b6777;
    height: 20px;
     
   }

.footer-text {
    color: white;
    font-size: large;
    font-weight: bold;


}

.hide {
    visibility: hidden;
}
.title {
    
    color:white;
}

.card-header {
    background-color: #2b6777;
}

.icon {
    color: #2b6777;
}

